<div class="phoneNav2">
    <button id="btnOpenNav" class="buttonType"><img src="/icons/folderNav.svg"> Nav</button>
</div>
<div class="navContainer">
    <button class="closeCont"><img src="/icons/close.svg" alt="close"></button> 
    <ul class="nav">
        <li><a href="/mystorage">My storage</a></li>
        <% locals.allFolders.forEach(folder => { %>
            <% if(folder.name === 'Main') return; %>
            <li><a href="/mystorage/folder/<%= folder.id %>"><%= folder.name %></a></li>
        <% }) %>
    </ul>
</div>
<script>
    const btnNav = document.querySelector('#btnOpenNav');

    const closeBtns = document.querySelectorAll('.closeCont');
    const navContainer = document.querySelector('.navContainer');

    btnNav.addEventListener('click', () => {
        navContainer.style.display = 'flex';
    });

    closeBtns.forEach(btn => {
        btn.addEventListener('click', () => {
            btn.parentElement.style.display = 'none';
        });
    })
</script>